<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{{ block "title" . }}PB Spelling Bee{{ end }}</title>
  
  <link rel="icon" href="/static/favicon.ico">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  {{ if .ShowNavbar }}
  <nav class="bg-primary-dark shadow p-4 flex">
    <a class="m-2 text-lg font-semibold text-accent-dark hover:text-gray-500" href="/sessions">Home</a>
    <a class="m-2 text-lg font-semibold text-accent-dark hover:text-gray-500" href="/about">About</a>
  </nav>
  {{ end }}

  <main class="min-h-screen flex flex-col items-center justify-center bg-primary space-y-6">
    {{ block "content" . }}{{ end }}
  </main>
</body>

</html>
